<app-navbar></app-navbar>
<app-carousel></app-carousel>

<div class="container-fluid p-0">

 <!--About Start-->
 <div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp w-100" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
              <h1 class="mb-4">Welcome to Sri Venkateswaraa Medical College Hospital and Research Institute</h1>
              <p class="mb-4">Sri Venkateswaraa Medical College Hospital and Research Insitute and Sri Venkateswaraa Medcity Hospital is located on the Grand Northern Trunk Road (No:51 Chennai, Vijayavada Highway). The Institute Caters to the need of the rural population in and around the districts of Thiruvallur, Kanchipuram and the tourns of Redhills, Madhavaram, Sholavaram, Ponneri, Puzhal, Karanodai, Paadiyanallur, Minjur, Arani, Periyapalayam, Kavaraipettai, Avadi, Ambattur and Gumudipundi.</p>
              <a class="btn btn-primary py-3 px-5 mt-2" href="https://svmedcity.com/contact.php">Read More</a>
          </div>
      </div>
  </div>
</div>
 <!--About End-->

 <!--Service Start-->
 <div class="container-xxl py-5">
  <div class="container">
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
              <div class="service-item text-center pt-3">
                  <div class="p-4 min-he-275">
                      <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                      <h5 class="mb-3">Skilled Instructors</h5>
                      <p>We prioritize student success and aim to equip instructors with innovative strategies to engage and inspire learners.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="service-item text-center pt-3">
                  <div class="p-4 min-he-275">
                      <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                      <h5 class="mb-3">Sports</h5>
                      <p>We strive for excellence in all our athletic endeavors, promoting a culture of hard work, discipline, and teamwork.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="service-item text-center pt-3">
                  <div class="p-4 min-he-275">
                      <i class="fa fa-3x fa-home text-primary mb-4"></i>
                      <h5 class="mb-3">Infrastructure</h5>
                      <p>Our campus facilities are designed to be accessible to individuals of all abilities, ensuring inclusivity and equal access to educational.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
              <div class="service-item text-center pt-3">
                  <div class="p-4 min-he-275">
                      <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                      <h5 class="mb-3">Book Library</h5>
                      <p>Find books on nutrition, exercise, mental health, and holistic healing to support your journey towards well-being.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 <!--Service End-->

</div>

<app-footer></app-footer>